In [1]:
# create a list of 7 amounts and assign it to variable 'l'
l = [240,530,350,230,420,240,1200]

# print the whole list
print(l)

[240, 530, 350, 230, 420, 240, 1200]

In [2]:
# print the first item (python always counts from 0, not 1!)
print(l[0])

240

In [3]:
# print the 6th item (remember the 7 items in the list are numbered 0 through 6, so item 6 is the last item)
print(l[6])

1200

In [4]:
# print the number of items
print("There are {} items".format(len(l)))

There are 7 items

In [5]:
# print each item in the list 'l', one line at a time
print("----")
for amount in l:
  print(amount)

----
240
530
350
230
420
240
1200

In [6]:
# print items starting at 1 and stopping before 3 (so, item 1 & 2) in the list 'l', one line at a time
print("----")
for i in range(1,3):
  print(l[i])

----
530
350

In [7]:
# print just the part of the list including item 1 & 2
print(l[1:3])

[530, 350]

In [8]:
# print a string
s = "The brown fox."
print(s)
print("The string is: {}".format(s))

The brown fox.
The string is: The brown fox.

In [9]:
# print the first item and the middle letters 4 through 8 of the string (remember, always count from 0!)
print("The string starts with '{}' and the middle is '{}'".format(s[0], s[4:9]))

The string starts with 'T' and the middle is 'brown'

In [10]:
# we must first include the numpy and pandas python packages, for manipulating arrays and DataFrames
import numpy as np
import pandas as pd

# turn our list into numpy array
a = np.array(l)
print(a)

[ 240  530  350  230  420  240 1200]

In [11]:
# print the sum of the new array
print("The sum is {}".format(np.sum(a)))

The sum is 3210

In [12]:
# sort the array, store it in the variable 'sorta', and print the sorted array
sorta = np.sort(a)
print(sorta)

[ 230  240  240  350  420  530 1200]

In [13]:
# make a pandas DataFrame from the numpy array 'a'
df = pd.DataFrame(a)
print(df)

      0
0   240
1   530
2   350
3   230
4   420
5   240
6  1200

In [14]:
# make a pandas DataFrame from the original list 'l'
df = pd.DataFrame(l)
print(df)

      0
0   240
1   530
2   350
3   230
4   420
5   240
6  1200

In [15]:
# make a 2-D pandas DataFrame from multiple lists
listOfNames = ['alice', 'bob', 'jim', 'mark', 'alice', 'mark', 'alice']
df = pd.DataFrame([l, listOfNames], index=['Amount', 'Person'])
print(df)

            0    1    2     3      4     5      6
Amount    240  530  350   230    420   240   1200
Person  alice  bob  jim  mark  alice  mark  alice

In [16]:
# transpose rows and columns
df = df.T
print(df)

  Amount Person
0    240  alice
1    530    bob
2    350    jim
3    230   mark
4    420  alice
5    240   mark
6   1200  alice

In [17]:
# print summary of DataFrame
print(df.describe())

        Amount Person
count        7      7
unique       6      4
top        240  alice
freq         2      3

In [18]:
# print row 2, column 1 (counting from 0!)
print("Row 2, Column 1 is: {}\n".format(df.iloc[2, 1]))

Row 2, Column 1 is: jim

In [19]:
# print DataFrame sorted by amount, from highest to lowest
print(df.sort_values(by='Amount', ascending=False))

  Amount Person
6   1200  alice
1    530    bob
4    420  alice
2    350    jim
0    240  alice
5    240   mark
3    230   mark

In [20]:
# print just the column of people from the DataFrame
print("---------\nJust person column:")
print(df['Person'])

---------
Just person column:
0    alice
1      bob
2      jim
3     mark
4    alice
5     mark
6    alice
Name: Person, dtype: object

In [21]:
# print the number of transactions of each person
print(df['Person'].value_counts())

alice    3
mark     2
bob      1
jim      1
Name: Person, dtype: int64

In [22]:
# print rows 0 through 3 of the DataFrame
print(df[0:4])

  Amount Person
0    240  alice
1    530    bob
2    350    jim
3    230   mark

In [23]:
# print only the rows that include alice
print(df[df['Person'] == 'alice'])

  Amount Person
0    240  alice
4    420  alice
6   1200  alice

In [24]:
# print the average of only Alice's transactions
print(df[df['Person'] == 'alice'].mean())

Amount    620.0
dtype: float64

In [25]:
# print only the rows that include transactions above 400
print(df[df['Amount'] > 400])

  Amount Person
1    530    bob
4    420  alice
6   1200  alice

In [26]:
# export just Alice's transactions to a csv file
# this may not work properly in a web-based python client
df[df['Person'] == 'alice'].to_csv('alice.csv')